@import '../variables.scss';

.register-div {
  background-color: $green-two;
  border: 2px solid $green;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-right: 40px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 130px;

  &:hover {
    background-color: $green;
    color: $withe;
  }
}
