$grey: rgb(184, 181, 181);
$green: rgb(67, 102, 67);
$withe: rgb(255, 255, 255);

.back {
  align-items: center;
  background-color: $green;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 80px;
}
