@import '../../variables.scss';

html,
body {
  background-color: $backg;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.items {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.item {
  background-color: $withe;
  border-radius: 2px;
  box-shadow: 10px 10px 17px -11px rgba(117,115,117,1);
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 160px 310px;
  height: 140px;
  margin: 15px;
  width: 800px;
}

.image {
  height: 100px;
  justify-self: center;
  margin: 10px;
  width: 100px;
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px 20px;
  width: 100%;
}

.item-title {
  color: $green;
  width: 400px;
}

.item-seller {
  margin: 5px;
}

.item-price {
  color: #43484D;
  font-size: 16px;
  font-weight: 300;
  margin: 5px;
}

.search-input {
  border: 2px solid $green;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  padding: 12px 20px;
  width: 350px;
  &:focus {
    outline: 0;
  }
}
.search {
  display: flex;
  justify-items: start;
  margin: 20px 0;
}

.search-button {
  background-color: $green-two;
  border: 2px solid $green;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 130px;

  &:hover {
    background-color: $green;
    color: $withe;
  }
}

.search-component {
  background: #FFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

.selector {
  display: flex;
  margin: 0 20px;
}
.search {
  align-items: center;
  color: $green;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 20px;

  .input {
    border: 2px solid $green;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
    width: 220px;
  }
}

.searchBar {
  align-items: center;
  color: #5E6977;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  justify-content: center;
  padding: 20px 30px;
}

.filtros {
  display: flex;
  height: 30px;
  margin: 20px;

  .title {
    align-items: center;
    font-weight: 600;
    margin: 0 10px;
    text-align: center;
    width: 100px;
  }
}

.custom-select {
  font-family: Arial;
  margin: 0 15px;
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  border: 6px solid transparent;
  border-color: #FFF transparent transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #FFF transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  color: #FFF;
  cursor: pointer;
  padding: 8px 16px;
  user-select: none;
}

/*style items (options):*/
.select-items {
  background-color: DodgerBlue;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
