<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Shopping Car
  </div>

  <!-- Product #1 -->
  <div class="item">
    <img class="delete-btn"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzr67gGdHwodSelUNjAocqJgb_YcEa_6h49G2GHVg_XWXxwxlo"
      alt="" />
    <div>
      <img class="image" src="https://www.slickwraps.com/media/catalog/product/cache/1/image/580x580/9df78eab33525d08d6e5fb8d27136e95/w/h/whitefullbody_1_1.jpg " alt="" />
    </div>

    <div class="description">
      <span>Common Projects</span>
      <span>Bball High</span>
      <span>White</span>
    </div>

    <div class="quantity">
      <div class="plus-btn">+</div>
      <input type="text" name="name" value="1">
      <div class="plus-btn">-</div>

    </div>

    <div class="total-price">$549</div>
  </div>

  <!-- Product #2 -->
  <div class="item">
      <img class="delete-btn"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzr67gGdHwodSelUNjAocqJgb_YcEa_6h49G2GHVg_XWXxwxlo"
        alt="" />
      <div>
        <img class="image" src="https://images-na.ssl-images-amazon.com/images/I/41RKcG1oqfL._SX395_QL70_.jpg" alt="" />
      </div>

      <div class="description">
        <span>Common Projects</span>
        <span>Bball High</span>
        <span>White</span>
      </div>

      <div class="quantity">
        <div class="plus-btn">+</div>
        <input type="text" name="name" value="1">
        <div class="plus-btn">-</div>

      </div>

      <div class="total-price">$549</div>
    </div>

  <div class="total">
    <div class="button">Pagar</div>
    <span>Total    $549</span>
  </div>
</div>
