<div class="item-detail">
  <!-- Title -->
  <div class="title">
    <h2>Item_name</h2>
    <div class="add-car">+ Add</div>
  </div>
  <!-- Product -->
  <div class="item">
    <div class="image">
      <img class="imgSet"
        src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/rfb-ipod-touch-blue-2015?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=0"
        alt="" />
    </div>
    <div class="info">
      <div class="item-info info1">
        <h3 class="subtitle info2">Description</h3>
        <p>
          The iPhone 6 and iPhone 6 Plus are smartphones designed and marketed by Apple Inc.
          It is the eighth generation of the iPhone, succeeding the iPhone 5S, and was announced
          on September 9, 2014 and released on September 19, 2014.[18] The iPhone 6 and iPhone 6
          Plus jointly were themselves replaced as the flagship devices of the iPhone series by the
          iPhone 6S and iPhone 6S Plus on September 9, 2015.
        </p>
      </div>
      <div class="info2">
        <div class="item-info">
          <h3 class="subtitle">Brand</h3>
          <p>
            Ipod
          </p>
        </div>
        <div class="item-info">
          <h3 class="subtitle">Category: </h3>
          <p>
            Category 1, Category2, Category 3....
          </p>
        </div>
        <div class="item-info">
          <h3 class="subtitle">Rating</h3>
          <p>
            4.5
          </p>
        </div>
        <div class="item-info">
          <h3 class="subtitle">Sold units: </h3>
          <p>
            89
          </p>
        </div>
      </div>
      <p class="total-price">Price: $549 </p>
    </div>
  </div>
