@import '../variables.scss';

.host {
  display: flex;
  font-family: $font;
  font-size: 15px;
  justify-content: center;
}

* {
  font-family: $font;
  padding: 0;
}

.item-detail2 {
  background: #FFF;
  display: flex;
  flex-direction: column;
  height: 88%;
  margin-top: 25px;
  //min-height: 90%;
  width: 600px;;
}

.title2 {
  border: solid 1px;
  border-bottom: 1px dotted rgb(251, 253, 255);
  color: #5E6977;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
}

.subtitle {
  color: $green;
  font-family: $font;
  font-size: 15px;
  margin: 0;
}

.item2 {
  align-items: center;
  border: solid 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 15px;
}

.item-info {
  display: flex;
  flex-direction: column;
  hyphens: auto;
  margin-bottom: 10px;
  word-break: break-word;
  word-wrap: break-word;
}

.info2 {
  border-top: solid 3px green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-break: auto;
  margin: 10px 0;
  overflow-wrap: normal;
  width: 300px;
}

.title {
  color: $green;
  display: flex;
  font-weight: bold;
  height: 30px;
  margin: 10px;
  width: 500px;
}

p {
  margin-bottom: 0;
}

.carrousel {
  height: 200px;
}

.add-car2 {
  border: solid $green;
  border-radius: 10px;
  color: $green;
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 100px;

  &:hover {
    background-color: rgb(173, 221, 173);
  }
}

.imgSet2 {
  background-color: #5E6977;
  height: 300px;
  max-width: 700px;
  width: 100%;
  width: 400px;;
}

.description {
  margin-right: 60px;
  padding-top: 10px;
  width: 115px;
}

.total-price2 {
  align-self: center;
  border: 2px dotted $green;
  color: rgb(54, 104, 48);
  display: flex;
  font-size: 30px;
  font-weight: 300;
  justify-self: center;
  padding: 10px;
  text-align: center;
}

.text {
  margin: 0;
}

.first {
  margin-top: 20px;
}

.image-carrousel {
  height: 400px;
  margin-bottom: 30px;
  min-height: 300px;
  min-width: 450px;
  width: 500px;;
}
